.top {
width; 100%
}

.header {
background-color: black;
left: 0;
right: 0;
margin-left: -0.6em;
margin-right: -0.5em;
min-height: 100%;
padding: 0.5em;
padding-left: 2em;
color: white;
display: grid;
grid-template-columns: 1fr 1fr;
}

.display-name {
display: grid;
grid-column-start: 1;
grid-column-end: 2;
}

.navigation {
display: grid;
grid-template-columns: 80% 5% 5% 5% 5%;
grid-column-gap: 3em;
align-content: center;
justify-items: end;
justify-content: end;
}

.content {
padding: 2em;
}

.children {
padding: 1em;
}

.child-folder, .child-document {
margin-top: 1em;
}

.folder-link {
margin-left: 10px;
}

.nav-item > a, .nav-item > a:hover, .nav-item > a:active, .nav-item a:visited { color: white; }

th {
text-align: left;
padding: 0.5em;
border-bottom: 1px dashed gray;
}

td {
padding: 1em;
}

.container {
margin-right: auto;
margin-left: auto;
}

.login {
text-align: center;
}

.model-dialog {
border: 1px solid gray;
  }

button[type="button"],[type="submit"]  {
border: 1px;
background: none;
background-color: rgb(155, 207, 240);
box-shadow: none;
border-radius: 5px;
padding: 0.5em;
}

.folder-item-nav {
margin-left: 1em;
margin-top: 1em;
display: grid;
grid-auto-flow: column;
max-width: 30%;
}