{% extends 'docweb/base.html' %}
  {% block content %}
    {% load static %}
    <div class="content">

      <div class="doc-view">
        
        <h4>
          <a href="{% url 'index-view' %}">
            Dashboard
          </a>
        </h4>

        <div class="doc-view-title">
          <h2>Repository</h2>
        </div>

        <div class="root-folder">
          <p>
            <span class="current-folder-label">
              Current Folder: 
            </span>
            <span class="folder-link">
              <a href="{% url 'repo-view' top_folder.id %}">
                {{ top_folder.name }}
              </a>
            </span>

            <span class="folder-link">
              {% if top_folder.parent %}
                <a href="{% url 'repo-view' top_folder.parent.id %}">
                  BACK
                </a>
              {% endif %}
            </span>
          </p>
          <table>
            <tr>
                <th>
                  Description
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Created
                </th>
                <th>
                  Modified
                </th>
              </tr>
            <tr>
              <td>{{ top_folder.description }}</td>
              <td>{{ top_folder.owner }}</td>
              <td>{{ top_folder.created }}</td>
              <td>{{ top_folder.modified }}</td>
            </tr>
          </table>
        </div>

        <dialog id="add-folder-dialog" class="model-dialog"> 
          <h2>Add Folder in {{ top_folder.name }}</h2>
          <form action="" method="POST">
            {% csrf_token %}
            <table>
              {{ add_folder_form.as_table }}
              <tr>
                <td></td>
                <td>
                  <button type="submit">Save</button>
                  <button type="button" onclick='document.getElementById("add-folder-dialog").close();'>Cancel</button>
                </td>
              </tr>
            </table>
          </form>
        </dialog>

        <dialog id="add-document-dialog" class="model-dialog"> 
          <h2>Add Document to {{ top_folder.name }}</h2>
          <form action="{% url 'add-document-view' top_folder.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
              {{ add_document_form.as_table }}
              {{ add_document_version_form.as_table }}
              <tr>
                <td></td>
                <td>
                  <button type="submit">Save</button>
                  <button type="button" onclick='document.getElementById("add-document-dialog").close();'>Cancel</button>
                </td>
              </tr>
            </table>
          </form>
          
        </dialog>

        <script>
          
        </script>

        {% if display_add_form_dialog %}
          <script>
            showAddDocumentForm();
          </script>
        {% endif %}

        {% if display_add_document_dialog %}
          <script>
            showAddFolderForm();
          </script>
        {% endif %}
        
        <div class="folder-item-nav">
          <div class="add-folder">
            <a href="#" onclick='document.getElementById("add-folder-dialog").showModal();'>
              Create New Folder
            </a>
          </div>
          <div class="add-document">
            <a href="#" onclick='document.getElementById("add-document-dialog").showModal();'>
              Upload New Document
            </a>
          </div>
        </div>

        <div class="children">
          <h3>Folders</h3>
          
          <table class="child-folder">
          {% for folder in child_folders %}
              <tr>
                <th>
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Created
                </th>
                <th>
                  Modified
                </th>
              </tr>
              <tr>
                <td>
                  <img src={% static "img/icons/folder.svg" %} alt="Folder" />
                </td>
                <td>
                  <a href="{% url 'repo-view' folder.id %}">
                    {{ folder.name }}
                  </a>
                </td>
                <td>{{ folder.description }}</td>
                <td>{{ folder.owner }}</td>
                <td>{{ folder.created }}</td>
                <td>{{ folder.modified }}
              </tr>
            
          {% empty %}
            <tr><td>No Folder</td></tr>
          {% endfor %}
          </table>
          <h3>Documents</h3>
          <table class="child-document">
          {% for document in child_documents %}
              <tr>
                <th>
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Created
                </th>
                <th>
                  Modified
                </th>
              </tr>
              <tr>
                <td><img src={% static "img/icons/file.svg" %} alt="Document" /></td>
                <td>{{ document.name }}</td>
                <td>{{ document.description }}</td>
                <td>{{ document.owner }}</td>
                <td>{{ document.created }}</td>
                <td>{{ document.modified }}
              </tr>
            {% empty %}
                <tr><td>No Document</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/repository.js">
  </script>
{% endblock %}